#main_container {
  flex-shrink: 0;
  overflow: hidden;
  transition: width 1s, height 0.94s;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    207deg,
    rgb(255, 255, 255) 0%,
    rgb(129, 129, 129) 100%
  );
}
#main_container > div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#main_container > div > svg {
  transition: 0.5s; /* Transition duration */
  font-size: 35px;
}

a {
  text-decoration: none !important;
  color: black;
  padding-left: 5px;
  transition: color 0.2s ease-in-out;
  display: flex;
}

a:hover {
  color: rgb(72, 71, 71);
}

a > svg {
  padding-right: 8px;
  margin: auto 0px;
}

#container,
#containerlargescreen {
  text-decoration: none;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 30px;
}

#container > li,
#containerlargescreen > li {
  width: 300px;
  font-size: 23px;
  margin: 15px 0;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  #container {
    display: none;
  }
  #main_container > div {
    position: fixed;
  }
}

@media only screen and (max-width: 700px) {
  #containerlargescreen {
    display: none;
  }
  #main_container > div {
    position: fixed;
  }
}
